.header {
    font-size: 50px;
    background-color: blue;
    color: yellow;
    text-align: center;
    font-family: "Lucida Handwriting", Verdana, "Times New Roman", sans-serif;
}

.recipe1,
.recipe2,
.recipe3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.recipe1 {
    background-color: orange;
    color: purple;
}

.recipe2 {
    background-color: lightgreen;
    color: red;
}

.recipe3 {
    background-color: blue;
    color: pink;
}

img {
    height:auto;
    width: 700px;
}