.header {
    font-size: 50px;
    background-color: blue;
    color: yellow;
    text-align: center;
    font-family: "Lucida Handwriting", Verdana, "Times New Roman", sans-serif;
}

#page {
    background-color: rgb(178, 111, 192);
}

.recipe1,
.recipe2,
.recipe3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.recipe1 {
    background-color: orange;
    color: purple;
}

.recipe2 {
    background-color: lightgreen;
    color: red;
}

.recipe3 {
    background-color: blue;
    color: pink;
}

img {
    height:auto;
    width: 600px;
}

p {
    text-align: center;
    color:lightpink;
    background-color:green;
    font-family: Arial, Helvetica, sans-serif;
}

.description1,
.description2,
.description3 {
    text-align: center;
    color: blue;
    font-weight: 700;
}

.header1,
.header2,
.header3 {
    text-align: center;
    font-size: 50px;
    font-family: "Times New Roman", sans-serif;
}

.header1 {
    background-color: red;
    color: green;
}

.header2 {
    background-color: orange;
    color: purple;
}

.header3 {
    background-color: yellow;
    color: pink;
}

li {
   color: yellow; 
}